body {
    min-width: 500px;
    margin: 0;
    background-color: #ccbcb8;
    color: #937871;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: 0;
}

td, th {
    text-align: center;
}

.relative {
    position: relative;
}

.loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.92);
}

.loading-cover > img {
    width: 256px;
    height: 256px;
}

.head-title {
    color: #655551;
}

.button {
    width: 180px;
    height: 40px;
    padding: 2px 5px;
    background: #ccbcb8;
    border: 1px #655551 solid;
    border-radius: 5px;
    cursor: pointer;
    color: #655551;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button:hover {
    background: #daccc8;
}

.button:active {
    background: #a98c85;
}

section {
    width: 532px;
    margin: 30px auto;
    text-align: center;
}

.block {
    padding: 30px;
    background: #ffffff;
    border: 1px solid #655551;
    border-radius: 10px;
}

table.ttt-board {
    width: 470px;
    height: 470px;
    border-collapse: collapse;
}

table.ttt-board tr > td {
    vertical-align: center;
    width: 150px;
    height: 150px;
    padding: 0;
    background: #ffffff;
    border-color: #ccbcb8;
    border-style: solid none none solid;
    border-width: 10px;
    cursor: pointer;
    user-select: none;
    color: #a98c85;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

table.ttt-board tr > td:first-child {
    border-left-style: none;
}

table.ttt-board tr:first-child > td {
    border-top-style: none;
}

table.ttt-board tr > td[data-ttt-cell]:hover {
    background: #e2d5d2;
}

.ttt-strategy-box, .statistics h3, .message {
    margin: 0 0 15px;
    font-weight: bold;
}

.statistics table {
    width: 100%;
    border-collapse: collapse;
}

.statistics tr > * {
    padding: 5px 10px;
    border-color: grey;
    border-style: dashed none none dashed;
    border-width: 1px;
}

.statistics tr > *:first-child {
    border-left-style: none;
}

.statistics tr:first-child > * {
    border-top-style: none;
}
